<!doctype html>


<head>
    <link href="instagram_logo.png" type="image/x-icon" rel="shortcut icon" />

    <title>Demo for Instagram Messaging API Business Onboarding</title>
    <meta charset=utf-8>
</head>

<body>
    <h1>Demo for Instagram Messaging API Business Onboarding</h1>
    <button style="
        background: #1eb3ff;
        border: none;
        color: white;
        padding: 12px 16px;
        font-size: 16px"> <a href={{fb_login_link}}>Connect Instagram Pro Account</a></button>
</body>
